{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Website CSS style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


{% endblock %}
{% block body %}
<div class="container"  no-repeat center center fixed style="
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;background-image:url('{{ asset('images/bakimagewall.jpg') }}');width:300%;height: 100%">
<br/><br/>
<div class="container"  no-repeat center center fixed style="
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;background-image:url('{{ asset('images/baccomments.jpg') }}');width:500px;height: 800px">
    <h1>Register</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'form-control'}})  }}
    <br/>
        {{ form_row(registrationForm.username, {'attr': {'class': 'form-control'}})  }}<br/>
        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}})}}<br/>

        {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}})}}<br/>
        {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}})}}<br/>
        {{ form_row(registrationForm.adresse, {'attr': {'class': 'form-control'}})}}<br/>
        {{ form_row(registrationForm.dateNaiss, {'attr': {'class': 'form-control'}})}}<br/>
    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-control'}})  }}


        <button class="btn-info">Register</button><br/><br/>

    {{ form_end(registrationForm, {'attr': {'class': 'form-control'}}) }}
</div><br/><br/>
</div>
{% endblock %}
