{% extends 'base.html.twig' %}

{% block title %}Hello AvisController!{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util3.css">
    <link rel="stylesheet" type="text/css" href="css/main3.css">

{% endblock %}

{% block body %}


    <!--===============================================================================================-->

    <!--===============================================================================================-->

    <body>


    <div class="container-contact100" style="background-image: url('images/bg-01.jpg');">

        <div class="wrap-contact100" style="background-color: rgba(223,39,93,0.45)">

            <form action={{ path("addcategorie") }}  method="POST" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Ajouter une nouvelle categorie
				</span>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Nom Categorie</span>
                    <input class="input100" type="text" name="categorienom" placeholder="Nom Categorie" required>
                </div>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button type="submit" value="submit" class="contact100-form-btn">
                            Ajouter categorie
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <br/><br/>

{#/////////////////////////////////////////ADD MARQUE////////////////////////////////////#}

        <div class="wrap-contact100" style="background-color: rgba(223,39,93,0.45)">

            <form action={{ path("addmarque") }}  method="POST" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Ajouter une nouvelle marque
				</span>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Nom Marque</span>
                    <input class="input100" type="text" name="marquenom" placeholder="Nom Marque" required>
                </div>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button type="submit" value="submit" class="contact100-form-btn">
                            Ajouter Marque
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <br/><br/>


{#        /////////////////////////////ADD PRODUCT///////////////////////#}
        <div class="wrap-contact100" style="background-color: rgba(223,39,93,0.45)">

            <form action={{ path("nouveauproduit") }}  method="POST" class="contact100-form validate-form">
				<span class="contact100-form-title">
					Ajouter un nouveau produit
				</span>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Nom produit</span>
                    <input class="input100" type="text" name="name" placeholder="Nom produit" required>
                </div>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="quantity is required">
                    <span class="label-input100">Quantité a ajouter</span>
                    <input class="input100" type="number" name="quantite" placeholder="Quantité a ajouter" required>
                </div>

                <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="price is required">
                    <span class="label-input100">Prix produit</span>
                    <input class="input100" type="number" name="prix" placeholder="prix produit" required>
                </div>




                <div class="wrap-input100">
                    <span class="label-input100">Categorie</span>
                    <select class="input100" name="categorie" required>

                       {% for cat in categories %}

                        <option value={{cat.NomCategorie}}>{{cat.NomCategorie}}</option>
                      {% endfor %}

                    </select>
                </div>
                <div class="wrap-input100">
                    <span class="label-input100">Categorie</span>
                    <select class="input100" name="marque" required>

                        {% for marqu in marque %}

                            <option value={{marqu.nomMarque}}>{{marqu.nomMarque}}</option>
                        {% endfor %}

                    </select>
                </div>



                <div class="wrap-input100 validate-input" data-validate = "Message is required">
                    <span class="label-input100">Description produit</span>
                    <textarea class="input100" name="description" placeholder="description produit..." required></textarea>
                </div>

{#                <label>Image produit:</label>#}
{#                <input type="file" name="myfile">#}

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button type="submit" value="submit" class="contact100-form-btn">
                            Ajouter produit
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main3.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    </body>




{% endblock %}