

{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util3.css">
    <link rel="stylesheet" type="text/css" href="css/main3.css">

{% endblock %}

{% block body %}
<div class="container"
{#     style="background-image:url('{{ asset('images/baccomments.jpg') }}');width: 800px"#}
>



    <div class="container" >
        <div class="row" >
            <div class="col-xs-4 item-photo">
                <img style="max-width:100%;" src="{{ asset('images/product.jpg') }}" alt="">

            </div>
            <div class="col-xs-5" style="border:0px solid gray">
                <!-- Datos del vendedor y titulo del producto -->
                <h3>{{produit.nom}} {{produit.categorie.NomCategorie}}</h3>
                <h5 style="color:#337ab7">{{produit.marque.nomMarque}}</h5>

                <!-- Precios -->
                <h6 class="title-price"><small>Prix</small></h6>
                <h3 style="margin-top:0px;"> {{produit.prix}}</h3>

                <!-- Detalles especificos del producto -->
                <form action={{ path('passcommande',{id:produit.id}) }}  method="POST" class="contact100-form validate-form">

                <div class="section" style="padding-bottom:20px;">
                    <h6 class="title-attr"><small>Quantité</small></h6>
                    <div>

                        <input required name="quantite" type="number" />

                    </div>
                </div>

                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Passer commande</button>
                </div>
                </form>

            </div>




        </div>

        <div style="width:100%;border-top:1px solid silver">
            <p style="padding:15px;">
                <small>
                    {{produit.description  }}
                    </small>
            </p>


        </div>
    </div>

<br/><br/>

{#////////////////////////////COMMENTS PARTS///////////////////////////#}



    <div class="row">

        <section class="content">

            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody>

                                {% for avi in Avis %}

                                <tr data-status="pagado">

                                    <td>
                                        <div class="media">
                                            <a href="#" class="pull-left">
                                                <img style="max-width: 75px" src="https://i.ya-webdesign.com/images/image-placeholder-png-6.png" class="media-photo">
                                            </a>
                                            <div class="media-body">
                                                <span class="media-meta pull-right" style="float: left">{{avi.datecomment|date("m/d/Y h:m" )}}</span>
                                                <h4 class="title">
{#                                                    <span class="pull-right pagado">({{avi.getIdUser().username}})</span>#}
{#                                                    <br/><br/>#}
                                                    {{avi.getIdUser().prenom}} {{avi.getIdUser().nom}}


                                                </h4>
                                                <br/>
                                                <p class="summary">{{avi.textcomment}}</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


{#                #}
{#                ///////////////////////////////comments///////////////////////#}


                <div class="md-form">
                    <form action={{ path('addcomment',{id:produit.id}) }}  method="POST" class="contact100-form validate-form">
                        <label for="form7">Votre commentaire</label>
                    <textarea id="form7" class="md-textarea form-control" rows="5" name="comment"></textarea>

<br/>
                                <button  class="btn btn-primary" type="submit" value="submit" >
                                    Ajouter commentaire
                                </button>

                    </form>

                </div>








            </div>
        </section>

    </div>
</div>
{% endblock %}