{% extends 'base.html.twig' %}

{% block title %}Liste Produit{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min2.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick2.css"/>
    <link type="text/css" rel="stylesheet" href="css/slick-theme2.css"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="css/nouislider.min2.css"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min2.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style2.css"/>


{% endblock %}

{% block body %}



    <header>


        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="{{ asset('images/logowishes.png') }}" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select" onchange="location = this.value;">
                                    <option value="http://127.0.0.1:8000/produit">All Categories</option>
                                    {% for categorie in categories %}
                                        <option value={{"http://127.0.0.1:8000/produit/"~categorie.NomCategorie~"/"~categorie.id }}/>

                                                {{ categorie.NomCategorie }}</option>

                                    {% endfor %}
                                </select>
                                <input class="input" placeholder="Search here">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="{{ path('commande') }}">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Mes commandes</span>
                                    {#										<div class="qty">2</div>#}
                                </a>
                            </div>
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div class="dropdown">
{#                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">#}
{#                                    <i class="fa fa-shopping-cart"></i>#}
{#                                    <span>see</span>#}
{#                                    #}{#										<div class="qty">3</div>#}
{#                                </a>#}
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="{{ asset('images/product01.png') }}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>

                                        <div class="product-widget">
                                            <div class="product-img">

                                                <img src="{{ asset('images/product02.png') }}" class="w3-circle" width="100" height="100" alt="dd"/>
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                    <div class="cart-summary">
                                        <small>3 Item(s) selected</small>
                                        <h5>SUBTOTAL: $2940.00</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="#">View Cart</a>
                                        <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->


    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Categories</h3>
                        <div class="checkbox-filter">

                            <div  class="input-radio">

                                <input  name="marque" type="radio" id="category-1" >
                               <label for="category-1">
                                    <span></span>
                                    Toutes les marques

                                </label>

                                </div>

                  {% for marque in marques %}
                             <div class="input-radio">
                                <input name="marque" type="radio" id="category-1">
                                  <label for="category-1">
                                    <span></span>
                                    {{marque.nomMarque}}

                                    </label>
                                </div>

                    {% endfor %}

{#                            <input type="radio" name="gender" value="male"> Male<br>#}
{#                            <input type="radio" name="gender" value="female"> Female<br>#}
{#                            <input type="radio" name="gender" value="other"> Other#}


                        </div>
                    </div>
                    <!-- /aside Widget -->

                </div>
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    {#						<div class="store-filter clearfix">#}
                    {#							<div class="store-sort">#}
                    {#								<label>#}
                    {#									Sort By:#}
                    {#									<select class="input-select">#}
                    {#										<option value="0">Popular</option>#}
                    {#										<option value="1">Position</option>#}
                    {#									</select>#}
                    {#								</label>#}

                    {#								<label>#}
                    {#									Show:#}
                    {#									<select class="input-select">#}
                    {#										<option value="0">20</option>#}
                    {#										<option value="1">50</option>#}
                    {#									</select>#}
                    {#								</label>#}
                    {#							</div>#}
                    {#							<ul class="store-grid">#}
                    {#								<li class="active"><i class="fa fa-th"></i></li>#}
                    {#								<li><a href="#"><i class="fa fa-th-list"></i></a></li>#}
                    {#							</ul>#}
                    {#						</div>#}
                    <!-- /store top filter -->

                    <!-- store products -->
                    <div class="row">
                        <!-- product -->

                        {% for prod in products %}

                            <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="{{ asset('images/product.jpg') }}" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{prod.categorie.NomCategorie}}</p>
                                        <h3 class="product-name"><a href="#">{{prod.nom}}</a></h3>
                                        <h3 class="product-name"><a href="#">{{prod.marque.nomMarque}}</a></h3>
                                        <h4 class="product-price">{{prod.description}}...</h4>
                                        <div class="product-rating">


                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist" onclick="
                                                    let appo = document.getElementById({{ prod.id }}).className='fa fa-heart'
                                                    console.log(appo)



                                                    " >
                                                <i class="fa fa-heart-o" id={{ prod.id }}></i>
                                                <span class="tooltipp">add to wishlist</span></button>

                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><a href={{ path('comments',{id:prod.id}) }}><i class="fa fa-book"></i>Details</a></button>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        <!-- /product -->




                        <!-- product -->


                    </div>
                    <!-- /store products -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">

                        <ul class="store-pagination">
                            {#								class="active"#}
                            <li ><a href={{ path('produit',{i:1}) }}>1</a></li>
                            <li><a href={{ path('produit',{i:2}) }}>2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- NEWSLETTER -->

    <!-- /NEWSLETTER -->

    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    <!-- jQuery Plugins -->




{% endblock %}

{% block javascripts %}

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/main.js"></script>

{% endblock %}