

{% extends 'base.html.twig' %}

{% block title %}List produit admin{% endblock %}


{% block body %}
    <head>
        <title>Table V01</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/utiltable.css">
        <link rel="stylesheet" type="text/css" href="css/maintable.css">
        <!--===============================================================================================-->
    </head>


<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Nom</th>
                        <th class="column2">Marque</th>
                        <th class="column3">Categorie</th>
                        <th class="column4">Prix</th>
                        <th class="column5">Quantité</th>
                        <th class="column6">Description</th>
                        <th class="column6">Date ajout</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in products %}
                        <tr >
                            <th class="column1">{{product.nom}}</th>
                            <th class="column2">{{product.marque.nomMarque}}</th>
                            <th class="column3">{{product.categorie.NomCategorie}}</th>
                            <th class="column4">{{product.prix}}</th>
                            <th class="column5">{{product.quantite}}</th>
                            <th class="column6">{{product.description}}</th>
                            <th class="column6">{{product.dateCreation|date("m/d/Y" )}}</th>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






{% endblock %}