{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}
{% block stylesheets %}
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util3.css">
    <link rel="stylesheet" type="text/css" href="css/main3.css">

{% endblock %}
{% block body %}

    <div class="container"  no-repeat center center fixed style="
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;background-image:url('{{ asset('images/baccomments.jpg') }}');width:100%;height: 100%">
    <div class="limiter"      >

        <div class="container-login100">

            <div class="wrap-login100">

                <table style="width: 650px;margin-top:200px;margin-left: 50px" class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for command in commandes %}
                    <tr>
                        <th> {{command.DateCmd|date("m/d/Y" )}}</th>
                        <th>{{command.prix}} DT</th>
                        <th>{{command.quantite}}</th>
                        <th>{{command.EtatCmd}}</th>

                    </tr>
                   {% endfor %}
                    </tbody>
                </table>


            </div>

        </div>

    </div>


</div>


{% endblock %}
